body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    border: solid #8888 1px;
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
}
